<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  This web "app" was built following
  the <a href="http://railstutorial.org/book">Rails Tutorial
  book</a>. Visit the book's web site to learn more.
</p>
